---
{% for credential in credentials_lookup_results|from_yaml %}
  - name: "{{ credential.name }}"
    organization: "{{ credential.organization }}"
    description: "{{ credential.description }}"
        credential_type: "{{ credential.summary_fields.credential_type.name }}"
    inputs:
    { { credential.inputs | to_nice_yaml(indent=2) | indent(width=6, first=True) } }
{% endfor %}
...
