---
{% for credential_type in credential_types_lookup_results|from_yaml %}
  - name: "{{ credential_type.name }}"
    description: "{{ credential_type.description }}"
    kind: "{{ credential_type.kind }}"
    inputs:
{{ credential_type.inputs | to_nice_yaml(indent=2) | indent(width=6, first=True) }}
{% if credential_type.injectors and credential_type.injectors != '---' %}
    injectors:
{{ credential_type.injectors | to_nice_yaml(indent=2) | indent(width=6, first=True) }}
{% endif %}
{% endfor %}
...
